
header {
    font-weight: bold;
    background: #FFFFFF;
    color: #000000;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;   
    align-items: center; 
    position: sticky;
    top: 0;
    background: fixed;
    background-color: #fff;
    height: 50px;
}
span {
    font-weight: 300;
}
h1 {
    width: 40%;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

header nav a {
    padding: 25px;
}

.title__image{
   
    background-image: url('./assets/burger.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 30px;
}


.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 20px;
    
}

.container img {
    width: 100%;

}

section h2 {
    margin-bottom: 10px;
    text-align: center;
}

section p {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

footer {
    background-color: #063503;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}


